@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #141414;
  color: aliceblue;
  font-size: 18px;
}
.container {
  padding: 15px 10px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
